<div>
  <ul class="menu">
    <li><a href="#/lists">My Lists</a></li>
    <li>This list: <a href="" ng-click="editList(list)">Edit</a></li>
  </ul>
</div>

<div>
  <label>Name:</label>{{list.name}}
</div>
<div ng-show="list.items.length">
  <ul ng-repeat="item in list.items | filter: {completed: false}">
    <li>
      <input type="checkbox" ng-click="completeTask(item.id)"/>&nbsp;
      {{item.name}}
    </li>
  </ul>
</div>

<div ng-show="show">
  <form ng-submit="createItem()">
    <div>
      <input type="text" ng-model="itemName" name="itemName">
    </div>
    <div>
      <button type="submit" id="createItem">Add this item</button>
      <a class="btn" ng-click="show=!show">Close</a>
    </div>
  </form>
</div>

<div ng-hide="show">
  <a href="" ng-click="show=!show">Add another item</a>
</div>


<div ng-show="list.items.length">
  <ul ng-repeat="item in list.items | filter: {completed: true}">
    <li>
      <input type="checkbox" checked="true" ng-click="uncompleteTask(item.id)"/>&nbsp;
      {{item.name}}
    </li>
  </ul>
</div>
