<div class="Full">
  <div class="col">
    <div class="SectionHeader">
      <h1>Edit this list</h1>
      <h3>
        <a class="admin" ng-click="cancelListEditing()">Cancel</a>
        |
        <a class="admin" ng-click="deleteList()">Delete this list</a>
    </div>
    <form class="edit_list" ng-submit="updateList()">
      <input type="hidden" ng-model="list.id"/>
      <div class="listedit">
        <h3>Title</h3>
        <input class="big" size="30" type="text" ng-model="list.name" id="name"/>
        <div ng-show="list.items.length">
          <h3>Items</h3>
          <ul ng-repeat="item in list.items | filter: {completed: false}">
            <li>
              <input type="hidden" ng-model="item.id"/>
              <input class="medium" size="30" type="text" ng-model="item.name"/>
              <img ng-src="images/delete.gif" ng-click="deleteItem(item.id)"/>
            </li>
          </ul>
        </div>
        <h3>
          Description/Notes
          <span class="sentence">(optional)</span>
        </h3>
        <textarea rows="5" cols="40" ng-model="list.description"></textarea>
        <div class="buttonblock">
          <input type="submit" style="font-weight: bold;" value="Save this list"/>
          or
          <a class="admin" ng-click="cancelListEditing()">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
